{% extends 'base.html' %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <h3>ПУБЛИЧНАЯ ОФЕРТА (Пользовательское соглашение)</h3>
<div class="">
<p>О ПРЕДОСТАВЛЕНИИ УСЛУГ / ПРАВИЛА ИСПОЛЬЗОВАНИЯ САЙТА И ПОРЯДОК ПОДАЧИ ЗАЯВОК</p>

<p>
Дата публикации: [01.01.2012]
</p><p>
Дата вступления в силу: [01.01.2012]
</p>
<p>Настоящее Пользовательское соглашение (далее — «Соглашение») регулирует отношения между [Модульные здания | Modul] (далее — «Администрация») и любым лицом, посещающим сайт [https://modulnie-zdaniya.ru] (далее — «Пользователь»).</p>
<p>Использование Сайта, включая просмотр страниц или отправку любых форм обратной связи, означает полное и безоговорочное согласие Пользователя с настоящим Соглашением. Если Пользователь не согласен с условиями, он обязан немедленно покинуть Сайт.</p>
<p>1. СТАТУС САЙТА И ФОРМ ОБРАТНОЙ СВЯЗИ
1.1. Сайт является информационным ресурсом. Все материалы, цены, характеристики услуг или товаров, размещенные на Сайте, носят исключительно ознакомительный характер и не являются публичной офертой.
1.2. На Сайте отсутствуют функции онлайн-оплаты, бронирования, покупки или заказа товаров/услуг в режиме реального времени.
1.3. Отправка Пользователем заявки через любые формы на Сайте (кнопки «Оставить заявку», «Перезвоните мне», «Получить консультацию» и т.д.) является исключительно запросом на получение информации (лидогенерацией). Данное действие не накладывает на Стороны никаких финансовых или договорных обязательств.

</p>
<p>2. ПОРЯДОК ОТПРАВКИ ЗАЯВОК</p>
2.1. При заполнении форм обратной связи Пользователь обязуется предоставить достоверные и актуальные контактные данные (имя, номер телефона, адрес электронной почты).
2.2. Администрация обязуется использовать полученные данные исключительно для связи с Пользователем (обработки заявки, уточнения деталей, предоставления консультации).
2.3. Отправляя форму, Пользователь автоматически дает свое согласие на обработку его персональных данных в соответствии с [https://modulnie-zdaniya.ru/privacy-policy/].</p>
<p>3. ПРАВА И ОБЯЗАННОСТИ СТОРОН
3.1. Администрация имеет право:
В любой момент изменять дизайн Сайта, его контент, перечень информации и формы обратной связи без предварительного уведомления Пользователя.
Игнорировать или удалять заявки, содержащие некорректные, заведомо ложные данные, нецензурную лексику или спам.
3.2. Пользователь обязуется:
Не использовать Сайт для распространения спама, вредоносного программного обеспечения или рекламы.
Не использовать автоматизированные скрипты (боты) для отправки массовых заявок через формы Сайта.
</p>
<p>4. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ
4.1. Администрация прилагает все усилия для обеспечения точности информации на Сайте, однако не гарантирует полное отсутствие технических ошибок или актуальность цен/условий на момент просмотра. Окончательные условия сотрудничества утверждаются Сторонами только при личном/телефонном общении или в бумажном договоре.
4.2. Администрация не несет ответственности за временные технические сбои в работе Сайта, из-за которых отправленная Пользователем заявка не была получена или была получена с задержкой.
4.3. Администрация не несет ответственности за убытки или ущерб, возникшие у Пользователя в результате использования материалов, размещенных на Сайте.
</p>

<p>5. ИЗМЕНЕНИЕ УСЛОВИЙ
5.1. Настоящее Соглашение может быть изменено Администрацией в одностороннем порядке. Новая редакция вступает в силу с момента ее публикации на Сайте.
5.2. Действующая редакция Соглашения всегда доступна на странице по адресу: [https://modulnie-zdaniya.ru/].

</p>
<p>6. КОНТАКТНЫЕ ДАННЫЕ АДМИНИСТРАЦИИ
сли у вас возникли вопросы по работе сайта или отправке заявок, вы можете связаться с нами:
Наименование/ФИО: [Модульные здания | Modul]
Email: [zdaniabytovki@yandex.ru]
Телефон: [+79780761562]

</p>


</div>
{% endblock %}