{% extends 'base.html' %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <h3>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>

<div class="">
<p>
Дата публикации: [01.01.2012]
</p><p>
Дата вступления в силу: [01.01.2012]
</p>
<p>
Настоящая Политика конфиденциальности (далее — «Политика») определяет порядок сбора, хранения, защиты и обработки персональных данных пользователей (далее — «Пользователь»), которые может получить Администрация сайта [Модульные здания | Modul/ https://modulnie-zdaniya.ru] (далее — «Сайт») во время использования Пользователем сервисов, форм и контента Сайта.
 [1] Пожалуйста, внимательно ознакомьтесь с текстом настоящей Политики перед использованием Сайта.
 1. ОБЩИЕ ПОЛОЖЕНИЯ
 1.1. Использование Пользователем Сайта означает согласие с настоящей Политикой и условиями обработки его персональных данных.
 1.2. В случае несогласия с условиями Политики Пользователь должен прекратить использование Сайта.
 1.3. Оператором персональных данных является [Наименование компании ООО Модульные здания и металлококнструкции], зарегистрированное по адресу: [г. Москва, ул. Пушкина д. 9] (далее — «Оператор»).
 1.4. Настоящая Политика применяется только к данному Сайту. Оператор не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте. 
 </p><p>
 2. КАКИЕ ПЕРСОНАЛЬНЫЕ ДАННЫЕ МЫ СОБИРАЕМ
 Оператор может собирать следующие данные Пользователя:
 Данные, предоставляемые Пользователем самостоятельно: Имя, фамилия, адрес электронной почты (e-mail), номер телефона, почтовый адрес
 Автоматически собираемые технические данные: IP-адрес, тип и версия браузера, файлы cookies, данные о времени посещения, информация о поведении на Сайте (через сервисы аналитики Яндекс Метрика, Google Analytics и др.).
 </p><p>
 3. ЦЕЛИ СБОРА И ОБРАБОТКИ ДАННЫХМы обрабатываем ваши персональные данные исключительно для следующих целей: 
 Предоставление Пользователю доступа к сервисам, услугам и контенту Сайта.Обратная связь с Пользователем: отправка уведомлений, ответов на запросы, обработка заявок и заказов.Направление Пользователю информационных и рекламных материалов (с его согласия), таких как email-рассылки или SMS.Анализ работы Сайта, улучшение качества обслуживания и интерфейса (на основе обезличенных технических данных).
 </p><p>
 4. УСЛОВИЯ И ПОРЯДОК ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
 4.1. Обработка персональных данных осуществляется законными способами с использованием средств автоматизации или без них.
 4.2. Оператор обязуется не раскрывать третьим лицам и не распространять персональные данные без согласия Пользователя, кроме случаев, предусмотренных действующим законодательством (например, по официальному запросу государственных органов).
 4.3. Персональные данные Пользователя хранятся не дольше, чем это необходимо для достижения целей их сбора, или до момента, пока Пользователь не отзовет свое согласие.
 </p><p>
 5. ИСПОЛЬЗОВАНИЕ ФАЙЛОВ COOKIE
 5.1. Сайт использует файлы cookie для персонализации сервисов и улучшения пользовательского опыта.
 5.2. Пользователь может в любой момент отключить сохранение файлов cookie или настроить оповещение об их отправке в настройках своего браузера. Отключение cookie может ограничить доступ к некоторым функциям Сайта.
 </p><p>
 6. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХОператор принимает необходимые организационные, правовые и технические меры для защиты персональных данных Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования и распространения. Защита данных обеспечивается: протоколом шифрования HTTPS, ограничением доступа к базам данных и т.д..
 </p><p>
 7. ПРАВА ПОЛЬЗОВАТЕЛЕЙ
 Пользователь имеет право:Узнать, какие именно его персональные данные хранятся у Оператора.Требовать исправления, обновления или уточнения своих данных, если они устарели или неточны.Требовать полного удаления своих персональных данных (отозвать согласие на обработку).Отозвать согласие на получение рекламных рассылок.
 Для реализации любого из этих прав Пользователь может отправить письменный запрос на электронную почту: zdaniabytovki@yandex.ru.
 </p><p>
 8. ИЗМЕНЕНИЕ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
 8.1. Оператор имеет право вносить изменения в настоящую Политику в одностороннем порядке.
 8.2. Новая редакция Политики вступает в силу с момента ее публикации на Сайте, если иное не предусмотрено новой редакцией Политики.
 8.3. Актуальная версия Политики всегда находится на странице по адресу: https://modulnie-zdaniya.ru/privacy-policy/.
 </p><p>
 9. КОНТАКТНАЯ ИНФОРМАЦИЯ
 По всем вопросам, связанным с настоящей Политикой или обработкой персональных данных, Пользователь может связаться с Оператором: ООО Модульные здания и металлоконструкции Email: https://modulnie-zdaniya.ru/privacy-policy/ Телефон: +79780761562
</p>


    </div>

    {{ flatpage.content|safe }}
{% endblock %}