<section class="mb-4">
    <div class="row g-3">
        <div class="col-md-3"><div class="content-card p-4 mb-4 reveal"><strong>от 15 лет</strong><br><span class="muted">опыт специалистов</span></div></div>
        <div class="col-md-3"><div class="content-card p-4 mb-4 reveal"><strong>24/7</strong><br><span class="muted">прием заявок</span></div></div>
        <div class="col-md-3"><div class="content-card p-4 mb-4 reveal"><strong>до 15 лет.</strong><br><span class="muted">гарантия на работы</span></div></div>
        <div class="col-md-3"><div class="content-card p-4 mb-4 reveal"><strong>сделаем срочно</strong><br><span class="muted">если горят сроки</span></div></div>
    </div>
</section>